## 변수의 이해 및 기본 데이터 타입

**학습목표**
1. python언어에서 변수의 의미 이해하기
2. 기본 데이터 타입 선언하기
 - int, fliat, str, bool

 **기본 데이터 타입**
 - variable declaration & value assignment(변수 선언 및 값 할당)

**=대입 연산자, ==비교 연산자**
- 대입의 경우, 오른쪽의 수식이나 값을 evaluation(여기서는 계산이라는 의미로 사용)한 뒤, 왼쪽에 묭시된 변수에 해당 값을 대입
- 변수는 해당값을 가지게 됨

In [ ]:
a = 10 # int
b = 11.4 # float

**comment(주석)**
- 코드에서 #으로 시작하는 뒷 부분은 실행되지 않음
- 개발자가 보기 위한 용도로 사용

In [1]:
# this line is very important
# so son't delete those lines

a = 10
b = 11.4

**print 함수**
- 함수란 특정 기능을 반복적으로 호출하여 사용가능한 코드블럭
- 해당 변수의 값을 출력
- ,로 여러 변수를 나열하면 한줄에 출력
- 기본적으로는 한칸 띄어쓰기 후 출력

In [2]:
print(a, b)
print(a, 10, 200, b)

10 11.4
10 10 200 11.4

- print함수 설정
 - sep: 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
 - end: 마지막에 출력할 문자열

In [5]:
print(a, b, 10, 100, sep='*', end='!!')

10*11.4*10*100!!

**변수 값 확인법**
- print()함수 사용
- 변수 값을 코드의 마지막에 위치 시킨 후 실행
 - 이 경우 output으로 변수의 값이 출력

In [6]:
a = 10
b = 11.4
a # print실행을 하지 않으면 마지막 b만 실행된다.
b

11.4

**variable naming(변수 이름 규칙)**
- 숫자로 시작하는 이름을 제외하고 영문 대소문자, _, 숫자로 구성가능
- 아래의 예제는 모두 valid한 변수 이름
- 일반적으로 해당 변수를 표현하고자 하는 정확하고 간결한 이름을 사용하는 것이 원칙
 - 코드를 읽은 것을 더 쉽게 할 수 있음
 - e.g)a = 1000의 경우보다 student_num = 1000로 명시한 것이 변수에 대한 이해가 빠름

In [7]:
abcABC = 100
_abc124 = 200
ABC124 = 200
a456BC = 100

a = 200
number_of_students = 200

**invalid한 변수 이름에 예**
- 숫자로 시작하면 안되는 이유는?

In [8]:
4 = 9 # 값을 저장할수 없어서...

SyntaxError: ignored

**reserved keywords(예약어)**
- python에서 미리 선점하여 사용중인 키워드
- 변수, 함수, 클래스 등등의 사용자 정의 이름으로 사용할 수 없음

In [9]:
for
while
if
elif
class
try
except
#...

_class = 100
print(_class) # 함수명은 사용이 안됨

SyntaxError: ignored

**기본 데이터 타입**
- 정수(int)
- 실수(float)
- 문자열(str)
- 불리언(boolean)

**type 함수**
- 해당 변수, 값의 타입을 알고자 할 때 사용

In [10]:
a = 10
b = 11.45

type(b)

float

**comparison operator(비교 연산자)**
- 프로그래밍에서는 비교를 할 경우, =대신 ==를 사용
- <(작다), >(크다)
- <=(작거나 같다), >=(크거나 같다)
- ==같다
- !=같지 않다
- 비교 연산자의 결과는 bool 타입

In [11]:
a = 5
b = 4

print(a > b) # True
print(a < b) # False
print(a >= b) # True
print(a <= b) # False
print(a == b) # False
print(a != b) # True
# R과의 차이점은 r에서는 전부 대문자, 파이썬은 앞글자만 대문자
c = a > b
c = True
print(type(c))
print(c)

True
False
True
False
False
True
<class 'bool'>
True

**numbers (숫자형 타입)**
- 정수, 실수로 구성
- 수학의 기본 연산자(가감승제) 사용 가능

In [12]:
a = 5
b = 4

print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a % b) # 나머지값(나누고 남은 값)
print(a ** b) # 제곱

9
20
1
1.25
1
625

**operator priorities (연산자 우선순위)**
- 기본적인 수학의 연산자와 동일
- 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [13]:
a = 5
b = 4

print(a + b *4)
print((a + b) * 4)

21
36

**expression evaluation & assignment (식평가 & 대입)**
- 변수의 값이 변경되기 위해서는 =를 사용하여 대입이 발생하는 경우에만 해당

In [14]:
a = 9
a-3

print(a) # 값을 할당하지 않아서 적용되지 않는다.

9

In [16]:
a = 9
t = a -3 # 값이 할당 되지 않음
a = t # a = t 라는 값을 할당 받게 되어 계산됨

print(a)

6

In [17]:
a = 9
a = a -3

print(a)

6

In [18]:
a = 9
# a = a -3
a **= 3
print(a)

729

## 문자열 타입의 이해

**학습목표**
1. 문자열(str) 타입 이해하기

**string(문자열)**
- 복수개의 문자를 순서대로 나열 한 것
- 문자열을'혹은 "사이에 문자를 넣어 생성
- 문자열 자체에 ', "가 있는 경우에는 각각 그 반대의 기호로 생성

**''' '''사용하여 표현 가능**
- 차이점
 - ",""-> 한줄 문자열 표현
 - ''' '''->여러줄에 걸쳐 문자열 표현 가능

In [21]:
a = '"Hello" World'
b = "Hello' World"

print(a)
print(b)

"Hello" World
Hello' World

In [22]:
c = '''Hello

World'''

d = """Hello
World"""

print(c)
print(d)

Hello

World
Hello
World

**escape string (이스케이프 문자)**
- 문자열내의 일부 문자의 의미를 달리하여 ```특정한 효과```를 주는 것
- ```\n```: new line 
- ```\t```: tab등

In [23]:
print('Hello World\n\n')
print('ha\thahaha')

Hello World


ha	hahaha

**indexing & slicing string (문자열 인덱스 및 추출)**
- 문자열의 각 문자는 순서가 있음
- 이때 각 문자열의 순서를 **인덱스** 하고 함
- 첫번째 문자부터 마지막까지 차례대로의 순서를 가짐
- 첫번째 시작문자의 순서는 0으로 시작(1이 아님)

In [24]:
a = 'Hello World' # 길이: 11(뛰어 쓰기 포함)
print(a[10]) # 인덱스 시작은 0부터

d

**-1 인덱스**
- 다른 언어와는 달리, python의 경우 음수 인덱스를 지원
- -1이 가장 마지막 인덱스를, -2가 마지막에서 두번째 인덱스를 의미

In [25]:
print(a[0])
print(a[10])

print(a[-1])
print(a[-11])

H
d
d
H

**인덱스의 범위**
- 인덱스는 [0, 문자열의 길이]의 범위만 유효
- 음수 인덱스를 사용할 경우, [-문자열의 길이, -1]
- 범위를 넘어갈 경우 에러 발생

In [27]:
# print(a[11]) 인덱스 범위 초과
print(a[-12]) # 인덱스 범위 초과

IndexError: ignored

**문자열 slicing**
- 인덱스가 하나의 문자만을 추출한다면, slicing은 부분 문자열을 추출한다고 볼 수 있음
- [시작:끝]과 같이 명시하여 [시작,끝]에 해당하는 부분 문자열을 추출
- 시작, 끝 인덱스가 생략되어 있다면, 0부터 혹은 끝까지로 간주

In [28]:
a = 'Hello World'

print(a[0:11])
print(a[0:1])

print(a[:5])
print(a[3:])

print(a[:])

Hello World
H
Hello
lo World
Hello World

**문자열 함수**
- 문자열은 여러가지 기능 제공을 위한 함수를 내장
- 함수란 특정 기능을 하는 코드로 언제든지 호출하여 해당 기능을 사용 가능하도록 구성한 코드

In [35]:
a = 'hello world'
b = 'Hello World'
a.upper() # 메서드, ex)'a를 upper해라'로 해석하면 편함 upper:모두 대문자로 만들어라
b.lower() # lower:모두 소문자로 만들어라

'hello world'

- replace
 - 문자열 내의 특정 문자를 치환

In [30]:
a = 'hello world'
a.replace('h', 'j')

'jello world'

In [34]:
a = 'hello world'
a.replace('h', 'j'). replace('w', 'g') # 바꾸고자 하는 문자열을 찾아 수정

'jello gorld'

**format**
- 문자열내의 특정한 값을 변수로부터 초기화하여 동적으로 문자열을 생성

In [36]:
temperature = 25.5
prob = 80.0

a = '오늘 기온{}도 이고, 비올 확률은 {}% 입니다.'.format(temperature, prob)
print(a)

오늘 기온25.5도 이고, 비올 확률은 80.0% 입니다.

In [38]:
Temperature = 24.0
Dust = '나쁨'

b = '오늘 기온은 {}도 이고, 미세먼지는 {} 입니다'. format(Temperature, Dust)
print(b)

오늘 기온은 24.0도 이고, 미세먼지는 나쁨 입니다

In [40]:
c = '방일우'
d = '평택'
e = 29

f = '나는 {} 입니다. 저는 {}에 살고 있고, 나이는 {}살 입니다.'. format(c, d, e)
print(f)

나는 방일우 입니다. 저는 평택에 살고 있고, 나이는 29살 입니다.

**split**
- 문자열을 특정한 문자로 구분하여 문자열의 리스트로 치환
- 숫자열에 적용하기 위해서는 숫자를 문자형으로 변경

In [42]:
a = 'hello world what a nice weather'
a.split(' ') # 지정한 문자를 기준으로 끊어짐

['hello', 'world', 'what', 'a', 'nice', 'weather']

In [9]:
b = 'bnagilwoo bangwooyhuen bangwoori bangdongwoo'
b.split(' ')

c = ("123, 222, 124, 444, 111, 614, 714, 888, 912")
c.split(',')

['123', ' 222', ' 124', ' 444', ' 111', ' 614', ' 714', ' 888', ' 912']

## 컬렉션 타입의 이해

**학습목표**
1. list,tuple에 대해 이해 및 실습
2. dictionary, set에 대해 이해 및 실습

**리스트 & 튜플**
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트, 성정 리스트 등등)과 동일한 의미로 이해
- list - mutable(생성된 후에 변경 가능)*
- tuple - immutable(생성된 후에 변경 불가능)*

**리스트 초기화**
- []안에 값을 담아서 생성
- list()함수로 생성
- str.split()함수로 생성

In [10]:
a = []
print(a)

[]

In [11]:
a = [1, 2, 3, 5, 10]
#    0  1  2  3  4 
print(a)

[1, 2, 3, 5, 10]

In [12]:
a = ['korea', 'canada', 1, 23, [34, 56]]
print(a)

['korea', 'canada', 1, 23, [34, 56]]

**list()함수**
- 다른 데이터 타입을 리스트로 변환할 때도 사용

In [15]:
a = 'hello world'
b = list(a)
print(b)

c = (1, 2, 3, 4, 5)
d = list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3, 4, 5]

**string split함수**
- 구분자로 구분되는 리스트를 반환(빈번히 사용 됨)

In [16]:
a = 'hello world nice weather'
b = a.split()

print(b)

['hello', 'world', 'nice', 'weather']

**리스트 indexing**
- 문자열의 인덱싱과 동일하게 동장
- []연산자를 이용하여 항목 얻어오기
- [i] - i번째 원소를 반환
- i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [17]:
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

**리스트 개별 아이템에 접근**
- 인덱스에 접근하여 값을 업데이트 가능

In [20]:
# 불변(immutable)
a = 'hello world'
print(a[0])

b = 'jello world'
c = 'j' + a[1:]

d = a.replace('h', 'j')
print(d)
print(a)

h
jello world
hello world

In [21]:
a = [1, 2, 3, 4, 5] # list는 아래와 같이 수정 가능
a[0] = 100
a[-1] = 90

print(a)

[100, 2, 3, 4, 90]

**리스트 slicing**
- 문자열 슬라이싱과 동일하게 동작
- 슬라이싱의 결과 역시 list!

In [22]:
a = [1, 2, 3, 4, 5, 5, 6, 7, 8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

a[1:7]

[5, 5, 6]
[1, 2, 3, 4, 5, 5, 6]
[4, 5, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 5, 6, 7, 8]

[2, 3, 4, 5, 5, 6]

**list 멤버 함수**
- 생성된 리스트 객체에 동작하는 함수

- **append()**
 - 리스트의 끝에 항목을 추가함

In [23]:
a = [1, 2, 3, 4, 5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

- **extend()**
 - 리스트를 연장
 - +=로도 가능함

In [30]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a.extend(b)
# a += b 
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **insert()로 항목추가**
 - 리스트의 원하는 위치에 추가 가능
 - 앞에 인덱스를, 뒤에 아이템을 명시

In [31]:
a =[1, 3, 4, 5, 6]
a.insert(1, 40) # 원하는 위치에 넣도 뒷 숫자는 밀림
print(a)

[1, 40, 3, 4, 5, 6]

- **remove()**
 - 값으로 항목 삭제

In [34]:
a = [1, 30, 2, 30, 4, 5, 9]
a.remove(30) # 지정한 삭제, 단 중복값인 경우 앞에 값부터 삭제
print(a)

[1, 2, 30, 30, 4, 5, 9]

- **pop()**
 - 지우고자 하는 아이템을 반환 후, 삭제

In [36]:
a = [1, 2, 3, 4, 5]
d = a.pop(2) # 삭제하고 변수로 뺄수 있음
print(a)
print(d)

[1, 2, 4, 5]
3

- **index()***
 - 찾고자 하는 값의 인덱스 변환

In [37]:
a = [2, 6, 7, 9, 10]
a.index(9) # 숫자 9는 3번째 인덱스에 위치

3

In [38]:
b = ['월', '화', '수', '목', '금', '토', '일']
b.index('화')

1

- **in 키워드** 
 - R내의 %in%과 같음
 - 리스트 내에 해당 값이 존재하는지 확인
 - value in [list]
 - True, False 중 한가지로 반환

In [39]:
a = [1, 2, 3, 4, 5, 10]
b = 10

c = b in a # a안에 b가 있나요? True
print(c)

True

- **list정렬**
 - sort() -> 리스트 자체를 내부적으로 정렬
 - sorted() -> 리스트의 정렬된 복사본을 반환

In [41]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort(reverse = True) # reverse로 내림차순으로 정렬
print(a)
b = sorted(a) 
print(b)

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

In [42]:
c = [3, 4, 7, 8, 2, 1, 3, 5, 0, 12, 45]
c.sort(reverse = True) # 리스트 내부 정렬에서 역순 정렬
d = sorted(c, reverse = True) # 복사된 사본을 출력할때 역순으로 정렬
print(c)
print(d)

[45, 12, 8, 7, 5, 4, 3, 3, 2, 1, 0]
[45, 12, 8, 7, 5, 4, 3, 3, 2, 1, 0]

In [43]:
e = [1, 3, 65, 8, 4, 12, 54, 22, 9, 8]
e.sort()
f = sorted(e, reverse = True) # 복사된 사본만 역순으로 출력
print(e)
print(f)

[1, 3, 4, 8, 8, 9, 12, 22, 54, 65]
[65, 54, 22, 12, 9, 8, 8, 4, 3, 1]

**tuple**
- 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
- 생성된 후 변경이 불가능

In [49]:
a = [1, 2, 3]
b = (1, 2, 3) #tuple 값은 변경이 불가, 변경을 위해서는 입력 값을 변경해야 한다.

# print(a)
# print(b)

a[0] = 100
print(a)

b[O] = 100
print(b) # 변환이 되지 않아서 아래와 같은 에러값이 발생

[100, 2, 3]

NameError: ignored

**tuple unpacking**
- 튜플의 값을 차례대로 변수에 대입

In [50]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

In [51]:
a, b, c, d = 200, 300, 400, 500
print[a, b, c, d] # list는 tuple 같이 그룹적용이 안됨

TypeError: ignored

- 연습문제
 - a와 b의 값을 교환하시오

In [54]:
# swop기능, 값을 a, b의 값을 바꿀때 사용
a = 5
b = 4
print(a, b)

# logic
# temp = a
# a = b
# b = temp
a, b = b, a
print(a, b)
print[a, b] # swop기능은 tuple형식으로만 가능

5 4
4 5

TypeError: ignored

**dictionary**
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 순서를 따지지 않음, 즈, 인덱스가 없음

In [55]:
a = {'korea': 'seoul',
     'canada': 'ottawa',
     'usa': 'washington D.C'}
b = {0:1, 1:6, 7:9, 8:10}
print(b[2]) # key erro는 입력 값을 못 가져온다는 뜻

KeyError: ignored

In [57]:
temp = {
    '서울': '두산',
    '인천': 'sk',
    '수원': 'kt'}
print(temp['서울'])

두산

- **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [59]:
a = {'Korea': 'Seoul',
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}

a['Japan'] = 'Kyoto'
a['Japan'] = 'Tokyo'
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Tokyo', 'China': 'Beijing'}

- **update**
 - 두 딕셔너리를 병합함
 - 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다. # overwrite: 덮어쓰기

In [2]:
a = {'a':1, 'b':2, 'c':3}
b = {'a':2, 'd':4, 'e':5}

a.update(b)

print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

- **key삭제**
 - del키워드 사용
 - pop함수 이용

In [4]:
a = {'a':1, 'b':2, 'c':3}
print(a)

# a.pop('b')
del a['b']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

- **clear()**
 - 딕셔너리의 모든 값을 초기화

In [5]:
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3}
{}

- **in**
 - key값 존재 확인
 - O(1)연사 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [7]:
a = {'a':1, 'b':2, 'c':3}
b = [1, 2, 3, 4, 5, 6, 7, 9, 10, 100]

print(100 in b)
print(2 in a) # value값을 지정하면 못 찾음
print('b' in a) # key값을 지정해야함

True
False
True

- **value access**
 - dict[key]로 접근, 키가 없는 경우 에러 발생
 - .get()함수로 접근, 키가 없는 경우 None반환

In [10]:
print(a.get('d'))
# print(a['b'])

if 'd' in a :
  print(a['d']) # a값에 b가 없어서

None

**모든 keys, values 접근**
- keys()- 키만 반환
- values()- 값만 변환
- items()- 키, 값의 튜플을 반환

In [12]:
print(a)
print(list(a.keys()))
print(list(a.values()))

list(a.items())

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

**set**
- dictionary에서 key만 활용하는 데이터 구조로 이해
- 수학에서의 집합과 동일한 개념
- key 와 value가 함께 나오면 dictionary, key만 나오면 set*

In [13]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a)

{1, 2, 3, 4, 5}

- set()을 이용한 집합으로 변환

In [14]:
a = [1, 1, 2, 3, 3, 4, 1, 5]
print(a)

b = set(a) # set형식으로 변경
print(b)

[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

In [15]:
a = (1, 1, 2, 3, 3, 4, 1, 5)
print(a)

b = set(a) # set형식으로 변경
print(b)

(1, 1, 2, 3, 3, 4, 1, 5)
{1, 2, 3, 4, 5}

- **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [17]:
a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) # 차집합
print(b.difference(a))
print(a.issubset(b)) # 부분집합

{1, 2, 3, 4}
{2, 3}
{1}
{4}
False